@model IEnumerable<BlogIt.Models.Follower>

@{
    ViewData["Title"] = "Index";
}

<h1>Followers</h1>

@if (Model == null || !Model.Any())
{
    <p><i>....No followers....</i></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FollowerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
}