@*@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

<h1>Users</h1>
<style>
    .body
    {
        color:indianred
    }
</style>
<table>
    <thead>
        <tr>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td style="padding-right:30px">@user.UserName</td>
                <td><a asp-action="ViewActivity" asp-route-id="@user.Id">View Activity</a></td>
            </tr>
        }
    </tbody>
</table>
*@

@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

<h1>Users</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td style="vertical-align:middle">@user.UserName</td>
                            <td style="vertical-align:middle">
                                <a href="@Url.Action("ViewActivity", "Admin", new { id = user.Id })" class="btn btn-primary btn-sm" style="background-color:indianred">
                                    View Activity
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
