@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<h1>Wanna share it.. <i>BlogIt</i></h1>
<style>
    #login-submit {
        background-color: indianred; /* replace with your desired color */
    }

    body {
        color: IndianRed;
    }

    .btn-primary {
        background-color: IndianRed;
        border-color: IndianRed;
        text-decoration-color: IndianRed;
    }


    .background-img {
        background-image: url('/images/3.png');
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        /*opacity: 0.5;*/
    }

    .form-control:focus {
        border-color: IndianRed;
        box-shadow: 0 0 0 0.25rem rgba(205, 92, 92, 0.25);
    }

    .login-section {
        margin-top: 50px;
    }

    .centered-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

</style>


<div class="row">
    <div class="col-md-6 p-0" style="margin-top:40px">
        <div class="background-img h-100"></div>
    </div>
    <div class="col-md-6 centered-content" style="margin-top:40px">
        <div class="col-md-8">
            <h1 style="text-align:center">@ViewData["Title"]</h1>
            <section>
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-lg-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                        <label asp-for="Input.Email"></label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-lg-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.Password"></label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-lg-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                        <label asp-for="Input.ConfirmPassword"></label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form>
            </section>
        </div>
    </div>
</div>




















@*
<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
